* {
  border: none;
  border-radius: 0px;
  font-family: "Symbols Nerd Font Mono", "Jetbrains Mono";
  font-size: 12px;
  font-weight: 600;
  min-height: 11px;
  margin: 2px 2px 2px 2px;
}

window#waybar {
  background-color: transparent;
}

window#waybar > box {
  margin: initial;
  margin-bottom: 1px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(40,40,40,0.9);
  box-shadow: 0px 0px 0px 0px rgba(32,32,32,1);
}

#workspaces,
#tray,
#mpris,
#clock,
#bluetooth,
#wireplumber,
#network,
#battery,
#custom-wlogout
{
  background: #282828;
  border: 2px solid #3c3836;
  box-shadow: 0px 0px 2px 2px rgba(32,32,32,1);
  color: #ebdbb2;
  padding-left: 10px;
  padding-right: 10px;
  transition: ease 0.15s;
}

#workspaces button:hover,
#workspaces button.active:hover,
#workspaces button.empty:hover,
#tray:hover,
#mpris:hover,
#clock:hover,
#bluetooth:hover,
#wireplumber:hover,
#network:hover,
#battery:hover,
#custom-wlogout:hover
{
  color: #83a598;
  margin: 1px 4px 3px 4px;
  transition: ease 0.2s;
}

#workspaces button:hover,
#workspaces button.active:hover,
#workspaces button.empty:hover,
#workspaces button.active,
#workspaces button.empty,
#workspaces
{
  font-weight: 900;
}

#workspaces button:hover,
#workspaces button.active:hover,
#workspaces button.empty:hover
{
  margin: initial;
  box-shadow: initial;
}

#custom-wlogout,
#bluetooth
{
  font-size: 18px;
  font-weight: 600;
}

#workspaces {
 padding: initial;
}

#workspaces button {
  margin: initial;
  padding: initial;
  padding-left: 2px;
  padding-right: 2px;
  color: #665c54;
}

#workspaces button.active,
#workspaces button.empty 
{
  color: #ebdbb2;
}

#tray {
  background: #282828;
}

#mpris {
  background: #282828;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #fb4934;
  }
}
